<!doctype html>
<html>
<head>
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css">
</head>
<body>

	<div class="container">
		<% if (!user) { %>
			<a href="#ingresar" data-toggle="modal" class="label label-info pull-right">Ingresar</a>
			<a href="#registrar" data-toggle="modal" class="label label-info pull-left">Registrar</a>

			<div id="ingresar" class="modal hide fade">
				<div class="modal-header">
					<button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Login</h3>
				</div>
				<div class="modal-body">
					<form action="/login" method="post"><%- csrf_token %>
						<input type="text" name="user" placeholder="Usuario...">
						<input type="password" name="passwd" placeholder="Contraseña..."><br>
						<button type="submit" class="btn btn-primary">Ingresar</button>
					</form>
				</div>
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn">Close</button>
				</div>
			</div>

			<div id="registrar" class="modal hide fade">
				<div class="modal-header">
					<button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Registro</h3>
				</div>
				<div class="modal-body">
					<form action="/signup" method="post"><%- csrf_token %>
						<input type="text" name="user" placeholder="Usuario...">
						<input type="password" name="passwd" placeholder="Contraseña..."><br>
						<button type="submit" class="btn btn-primary">Registrar</button>
					</form>
				</div>
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn">Close</button>
				</div>
			</div>
		<% } else { %>
			<a href="/logout" class="label label-warning pull-right">Cerrar Sesion</a>
			<span class="label label-info pull-right">Bienvenido <a href="/mios" style="color:#fff;"><%= user %></a></span>
		<% } %>

		<hr>

		<form><input type="text" name="q" placeholder="Buscar..."></form>

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Usuario</th>
					<th>Creado</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% if (productos.length) { %>
					<% for (var i=0; i<productos.length; i++){ %>
						<tr>
							<td><%= productos[i].value.nombre %></td>
							<td><%= productos[i].value.precio %></td>
							<td><%= productos[i].value.user %></td>
							<td><%= new Date(productos[i].value.created) %></td>
							<td>
								<form action="/delete/<%= productos[i].id %>" method="post"><%- csrf_token %><button type="submit" class="btn btn-danger"><i class="icon-white icon-trash"></i> Eliminar</button></form></td>
							<td><a href="/editar/<%= productos[i].id %>" class="btn btn-primary"><i class="icon-white icon-edit"></i> Editar</a></td>
						<tr>
					<% } %>
				<% } else { %>
					<tr>
						<td colspan="5">No hay productos.</td>
					</tr>
				<% } %>
			</tbody>
		</table>
		<a href="/agregar" class="btn"><i class="icon-plus"></i> Agregar</a>
	</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>